* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* width: 50vw;
    height: 600px; */
    background-color: rgb(245, 61, 184);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    align-content: center;
    border:2px solid rebeccapurple ;
    margin: 20px;
    border-radius: 20px ;
}

.grid-item {
    background-color: rgb(52, 213, 249);
    border: 2px solid blue;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    align-items: center;
    justify-items: center;
    margin: 10px;
}
#item1{
    grid-column: 2/span 2;
    grid-area: 1/2/4/3;
    background-color: rgb(14, 1, 43);
}

