*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 500px;
    height: 700px;
    background-color: purple;
    border-color:black;
    border: 50px purple solid;
}
.status-icon{
    border: 5px solid black;
    margin-left: 500px;
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 100px;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
}
@keyframes glow {
    from{
        background-color: green;
    }
    to{
        background-color: aqua;
    }
}
#card-bottom{
    justify-content: center;
    align-items: center;
}
#image-box{
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
#stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 30px;
}